################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/GroupThreeApp/GroupThreeApp/WpfApp1/.vs/WpfApp1/v15/Server/sqlite3/db.lock
/GroupThreeApp/GroupThreeApp/WpfApp1/.vs/WpfApp1/v15/Server/sqlite3/storage.ide
/GroupThreeApp/GroupThreeApp/WpfApp1/.vs/WpfApp1/v15/Server/sqlite3/storage.ide-shm
/GroupThreeApp/GroupThreeApp/WpfApp1/.vs/WpfApp1/v15/Server/sqlite3/storage.ide-wal
/WpfApp1/.vs/WpfApp1/v15/Server/sqlite3/db.lock
/WpfApp1/.vs/WpfApp1/v15/Server/sqlite3/storage.ide
/WpfApp1/.vs/WpfApp1/v15/Server/sqlite3/storage.ide-shm
/WpfApp1/.vs/WpfApp1/v15/Server/sqlite3/storage.ide-wal
